/* nav related styles */
.nav{
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: bisque;
}
.nav-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #E55473;
    font-size: 30px;
}
.te{
    color: purple;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
/* header related styles */
.header {
    width: 1336px;
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 100px 100px 10px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-head {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pro-pic {
    width: 500px;
    height: 500px;
}
.btn{
    border-radius: 5px;
    background: #E55473;
    padding: 15px;
    border: 0;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
}