/* nav related styles */
.nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: bisque;
}

.nav-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #E55473;
    font-size: 30px;
}

.te {
    color: purple;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* header related styles */
.header {
    width: 1336px;
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 100px 100px 10px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-head {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pro-pic {
    width: 500px;
    height: 500px;
}

.btn {
    border-radius: 5px;
    background: #E55473;
    padding: 15px;
    border: 0;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
}

/* main related styles */
/* first section related styles */
.title {
    color: #272727;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 100px;
}

.des {
    color: #272727;
    text-align: center;
    margin-top: 5px;
}

.fet {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fet div div {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
}

.fet div {
    text-align: center;
}

.fet div a {
    color: #272727;
}

.f1 {
    width: 250px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.f2 {
    width: 250px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.f3 {
    width: 250px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image {
    width: 200px;
    height: 200px;
}

/* second section styles */
.wish {
    width: 1000px;
    height: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 170px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
}

.img1 {
    margin-left: 100px;
    width: 50px;
    height: 50px;
}

.img2 {
    margin-left: 80px;
    width: 50px;
    height: 50px;
}

.img3 {
    margin-left: 30px;
    width: 50px;
    height: 50px;
}

.item {
    display: flex;
}

.item-des p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
}

/* third section styles */
.flowoff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1336px;
    height: 400px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 100px;
    margin-bottom: 100px;
}

.des-pic {
    width: 250px;
    height: 300px;
}

.offer-head {
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.off {
    color: #E55473;
}

.flo-des {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

.btn-off {
    border-radius: 5px;
    background: #E55473;
    padding: 15px;
    border: 0;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    margin-left: 230px;
}

/* third section styles */
.insta {
    color: #272727;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.i {
    color: #272727;
    text-align: center;
    margin-top: 5px;
}

.ig {
    display: flex;
    gap: 30px;
    margin-left: 60px;
    margin-bottom: 80px;
}

.ig-img {
    width: 280px;
    height: 280px;
}

/* fourth section styles */
.latest {
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 300px;
    border-radius: 8px;
    margin-left: 130px;
    margin-top: 100px;
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../../Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;

}

.ltdes {
    color: #272727;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

.lat {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.input {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.ip {
    width: 600px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}